.clients__container{
    background-color: $text-color;
    background-image: url("../../assets/testimonial-section/orbit.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 90%;
    padding: 0% 5%;
    height: 622px;
    justify-content: space-between;

   
}

.clients{
    display: flex;
    justify-content: center;


    &__left{
        flex-direction: column;
        justify-content: space-between;
    }

    &__mid{
        flex-direction: column;
        display: flex;
        align-items: center;

        & h3{
            color:$white;
            margin-top: 120px;
            text-align: center;
        }

        & >p{
            color: $highlight-color;
            text-align: center;
            margin-top: 50px;
        }
    }
    
    &__right{
        flex-direction: column;
        justify-content: space-between;
    }
}

.profile{
    margin-top: 20%;
    align-items: center;

    &__cropper{
        background-image: url("../../assets/testimonial-section/profile.png");
        border-radius: 50%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 70px;
        height:70px;
        margin-right: 18px;
        
    }

    &__text{
        color: $white;

        & p:first-child{
            color:$clear-blue;
            margin-bottom:0;
        }

        & :not(p:first-child){
            margin-top: 2px;

        }
    }    
}
.memoji{
    width: 150px;
    height:auto;
    margin: 60px 15px;
}

@media screen and (max-width: 920px) {
    .clients__left{
        display:none;
    }

    .clients__right{
        display: none;
    }

    .clients__container{
        justify-content: center;
        height: 580px;
    }

    .profile{
        margin-top: 20px;
    }
}

@media screen and (max-width: 460px) {
    .clients__mid > p {
        margin-top: 10px;
        margin-left: 20px;
        margin-right:20px;
        font-size: 17px;
    }

    .clients__mid h3{
        font-size: 30px
    }
}