// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Regular font family
/// @type List
$text-font-stack: 'Roboto' !default;


/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;


/// Text color
/// @type Color
$text-color:#292E47 !default;
$light-text-color: #6B708D !default;
$white: #FFFFFF !default;

// Container color
/// @type Color
$light-gray: #F2F4FC !default;
$blue-gray: #ECF7FF !default;


/// Main brand color
/// @type Color
$blue-main-color: #072AC8 !default;
$blue-shine: #43D2FF !default;
$clear-blue: #A2D6F9 !default;
$light-blue: #D1EDFF !default;


// Highlight color
/// @type Color
$highlight-color: #FFC600 !default;     


/// Container's maximum width
/// @type Length
$max-width: 1440px !default;



/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoint-sm: 310px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;

