// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

body{
    color: $text-color;
    font-family: $text-color;
    font-style: normal;
    font-size: 20px;   
}

a{
    text-decoration: none;
    color: $text-color;

    &:hover{
        text-decoration: underline;
        color:#43D2FF;
        cursor: pointer;
    }
}

button{
    border: none;
    background-color: $blue-main-color;
    width: 150px;
    height: 52px;
    
    & a{
        color: $white;
    }
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.flex{
    display: flex;
}

    